@model NuClear.ValidationRules.WebApp.Model.MessageContainerModel

@{
    ViewData["Title"] = "Заказы";

}

<div class="panel-group" id="collapse" role="tablist" aria-multiselectable="true">
    @foreach (var messageGroup in Model.ByRule())
    {
        <div class="panel @messageGroup.Key.Class">
            <div class="panel-heading " role="tab" id="collapse-heading-one">
                <div class="panel-title ">
                    <a role="button" data-toggle="collapse" href="#@messageGroup.Key.Rule" aria-expanded="false" aria-controls="@messageGroup.Key.Rule">
                        @messageGroup.Value[0].PlainText
                    </a>
                </div>

            </div>
            <div id="@messageGroup.Key.Rule" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapse-heading-one">
                <table class="table table-condensed table-hover table-bordered">
                    <tbody>
                        @foreach (var message in messageGroup.Value)
                        {
                            <tr>
                                <td class="col-xs-3 col-lg-2">
                                    <div>@Html.Raw(@message.MainReference)</div>
                                    <div class="small">@message.Period</div>
                                </td>
                                <td>@Html.Raw(@message.Text)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</div>