@model NuClear.ValidationRules.WebApp.Model.ResultContainer

@{
    ViewData["Title"] = "Заказы";

}

<div class="panel-group" id="collapse" role="tablist" aria-multiselectable="true">
    @foreach (var order in Model.GetResultsByOrder())
    {
        <div class="panel @order.Class">
            <div class="panel-heading " role="tab" id="collapse-heading-one">
                <div class="panel-title ">
                    <a role="button" data-toggle="collapse" href="#@order.PanelId" aria-expanded="false" aria-controls="@order.PanelId">
                        @order.Number
                        <span class="small">@Model.PeriodFor(order.Id)</span>
                    </a>
                    
                    <a class ="pull-right" role="button" href="@order.Link" target="_blank" >Открыть</a>
                </div>
                
            </div>
            <div id="@order.PanelId" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapse-heading-one">
                    <table class="table table-condensed table-hover table-bordered">
                        <tbody>
                            @foreach (var message in order.Messages)
                            {
                                <tr class="@message.Class">
                                    <td>@Html.Raw(@message.Text)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
            </div>
        </div>
    }
</div>